__pycache__/
.firebase/*.cache
_temp/
_trace*.py
debug_dump*.py
*_debug*.alvz
demo_visual.alvz
test_class_*.alvz
test_simple.alvz
ejemplo.alvz
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
*.egg
.env
.venv
env/
venv/
*.spec
*.exe
*.zip
.DS_Store
Thumbs.db
proyectos/
*.db
.pypirc
coverage.lcov
.coverage
.coverage.*
